<div class="header">
  <div class="title">Connect Four</div>
  <div [ngClass]="connectFourGame.currentState.messageColor">
    {{connectFourGame.currentState.message}}
  </div>
</div>
<div class="connect-four-container">
  <div *ngFor="let slot of connectFourGame.board.slots; let c = index" (click)="connectFourGame.currentState.dropDisc(c)" class="column">
    <div *ngFor="let cell of slot.cells.slice().reverse()">
      <div class="cell" [class.player-one-disc]="cell.state === 'player one'" [class.player-two-disc]="cell.state === 'player two'">
      </div>
    </div>
  </div>
</div>
<div class="reset-btn-container">
  <button class="reset-btn" (click)="connectFourGame.resetGame()">Reset Game</button>
</div>

<div class="player-moves">
    <div *ngFor="let undoMove of connectFourGame.playerMoves.undoMoves; let i = index">
      <div>
        {{undoMove.displayMessage}}
        <button *ngIf="i == connectFourGame.playerMoves.undoMoves.length - 1" (click)="connectFourGame.currentState.redoMove()">Redo Move</button>
      </div>
    </div>

  <div *ngFor="let redoMove of connectFourGame.playerMoves.redoMoves; let i = index">
    <div [class.current-move]="redoMove.state === 'currentMove'">
      {{redoMove.displayMessage}}
      <button *ngIf="redoMove.state == 'currentMove'" class="undo-btn" (click)="connectFourGame.currentState.undoMove()">Undo Move</button>
    </div>
  </div>

    <div *ngFor="let move of connectFourGame.playerMoves.pastMoves">
      <div [class.current-move]="move.state === 'currentMove'">
        {{move.displayMessage}}
        <button *ngIf="move.state === 'currentMove'" class="undo-btn" (click)="connectFourGame.currentState.undoMove()">Undo Move</button>
      </div>
    </div>
</div>
